*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    height: 100vh;
    background-color: #e0e0e0;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 20% 10% 10% 20% 20%;
}
.header{
    background: #8D8484;
    grid-column: 1 / span 2;
}
.content_1{
    background: #776969;
    grid-column: 1;
    grid-row: 2
}
.content_2{
    background: #643030;
    grid-column: 1;
    grid-row: 3 / span 2;
}
.content_3{
    background: #441818;
    grid-column: 1;
    grid-row: 5;
}
.spam_1{
    background: #937575;
    grid-column: 2;
    grid-row: 2 / span 2;
}
.spam_2{
    background: #644C4C;
    grid-column: 2;
    grid-row: 4 / span 2;
}
.footer{
    background: #BDBDBD;
    grid-column: 1 / span 2;
    grid-row: 6;
}
.header, .footer, .content_1, .content_2, .content_3, .spam_1, .spam_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_1, .content_2, .content_3, .spam_1, .spam_2 p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header, .footer p{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



