*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
}

/*------------------------- header -----------------*/

header{
    width: 100%;
    height: 113px;
    background: #24204A;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    position: fixed;
    top: 0;
}
.header__w-1170{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__w-1170 h2{
    color: #E5E5E5;
    font-size: 20px;
    font-weight: 700;
    opacity: 0.6;
}
.header__w-1170 nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.header__w-1170 nav ul a{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

/*------------------------- section (one-posotion) -----------------*/

.one_posotion{
    width: 100%;
    height: 692px;
    padding: 180px 0 101px 0;
    background: #24204A;
}
.one_posotion__w-1153{
    width: 1153px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one_posotion__w-1153 div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.one_posotion__w-1153 div:nth-child(1) button:nth-of-type(1){
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    border: none;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.one_posotion__w-1153 div:nth-child(1) button:nth-of-type(2){
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    border: none;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.one_posotion__w-1153 div:nth-child(1) h2{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;

}
.one_posotion__w-1153 div:nth-child(1) p{
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
}
.one_posotion__w-1153 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.one_posotion__w-1153 div:nth-child(2) img{
    width: 318px;
    height: 318px;
    object-fit: cover;
}
