*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.wrapper{
    height: 800px;
    background-color: #415e32;
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 200px;
    height: 200px;
    background-color: #9fcc91;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
